body {
  max-width: 500px;
  display: block;
  margin: 20px auto;
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}
.container {
  background: rgb(212, 209, 212);
  border: 1px solid rgb(212, 209, 212);
  border-radius: 15px;
  padding: 15px 15px 0;
}

.user-icon {
  font-size: 30px;
}
.notification-icon,
.more-icon {
  font-size: 22px;
}
.balance {
  background-image: linear-gradient(
    100deg,
    #1f58dd,
    #ec37a1,
    rgb(245, 168, 25)
  );
  border: 1px solid #1f58dd, #ec37a1, rgb(245, 168, 25);
  border-radius: 20px;
  max-width: 350px;
  margin: 0 auto;
  display: block;
  color: #fff;
}
.inc-exp-container {
  margin: 20px;
}
.income,
.expense {
  border: 1px solid grey;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
}
.arrow-down {
  border-radius: 60px;
  font-size: 25px;
  color: green;
}
.arrow-up {
  border-radius: 60px;
  font-size: 25px;
  color: red;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  border: 1px solid white;
  padding: 10px;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 15px;
  margin: 10px 0;
  background: white;
}
li span {
  margin-left: 60%;
}
.widgets {
  margin: 10px 10px 5px;
  border: 1px solid whitesmoke;
  border-radius: 28px;
  background: whitesmoke;
  padding: 10px;
}
.widgets .plus {
  font-size: 30px;
  border: 1px solid #ec37a1 30%, #1a52d6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: -27px;
  color: white;
  background-image: linear-gradient(#ec37a1 30%, #1a52d6);
}
.widgets .wallet,
.widgets .home,
.widgets .report,
.widgets .bank {
  font-size: 23px;
  color: grey;
}
p {
  font-size: 19px;
}
.form-control {
  text-align: center;
  font-size: 21px;
}
button {
  background-image: linear-gradient(
    100deg,
    #1f58dd,
    #ec37a1,
    rgb(245, 168, 25)
  );
  width: 90%;
  border: none;
  font-size: 28px;
  border-radius: 10px;
  padding: 10px;
  margin: 100px 20px 20px 20px;
  color: white;
}
button:hover {
  color: black;
}
