body {
  max-width: 500px;
  display: block;
  margin: 20px auto;
  background-image: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%);
}

.container {
  background: rgb(243, 234, 243);
  border: 1px solid rgb(243, 234, 243);
  border-radius: 15px;
  padding: 15px;
}
.icons {
  font-size: 23px;
  color: purple;
}
.month {
  text-decoration: none;
  color: rgb(161, 160, 160);
}
.month:hover {
  color: black;
  text-decoration: underline;
}
.graph {
  background: whitesmoke;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
}
li {
  list-style: none;
}

.transaction-list li {
  background: whitesmoke;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
}
.transaction-list li span {
  margin-left: 80%;
}
hr.bottom {
  width: 40%;
  display: block;
  margin: 0 auto;
  border: none;
  border-top: 4px solid black;
}
